*{
  margin: 0px;
  padding: 0px;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.katalogSection{
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
}

@media screen and(max-width:1500px) {

}
body{
  overflow-x: hidden;

}